 .nav{
    grid-area: n;
    
    padding: 20px;
    background-image: url(https://cdn.shopify.com/s/files/1/0011/4651/9637/t/241/assets/SNsb2.png);
  }
  
  .item {
    color: darkgreen;
    text-decoration: none;
  }

  .active{
    color:red;
    text-decoration: none;
  }