.app-wrapper {
  display: grid;
  width: 1920px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 10fr;
  grid-template-columns: 1fr 10fr;

}


.app-wrapper-content{
    grid-area: c;
    background-color: blue;
    background-image: url(https://cdn.shopify.com/s/files/1/0748/2664/5800/files/TS-178.jpg?v=1683345026);
}